.button {
    background-color: #5d5cf9; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0px 12px;
    cursor: pointer;
    transition: 0.3s ease;
}

.button:hover {
    transform: translateY(-2px);
    background-color: #7d73fb;
}

.button-animated {
    width: 150px;
    margin-top: 15px;
    background-color: #007bff; 
    color: white; 
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    position: relative; 
    overflow: hidden; 
}

.text-normal,
.text-hover {
    display: block;
    transition: transform 0.3s ease; 
}

.text-hover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%); 
    background-color: #0056b3;
}

.button-animated:hover .text-normal {
    transform: translateY(-100%); 
}

.button-animated:hover .text-hover {
    transform: translateY(0); 
}
