body {
    font-family: "Cal Sans", Arial, sans-serif;
    background-color: #11048a;
    color: #fff;
}

header {
    text-align: center;
}

header nav ul {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
    list-style-type: none;
    padding: 0;
    margin: 20px 0 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    
}

footer {
    text-align: center;
}   